body {
	border: 20px solid #FFB300;
	padding: 20px; /*lo que hay entre borde y palabras*/
	max-width: 700px; /*el tamano del body*/
	width: 80%; /*mantenelo al 80% salvo que lo pongas al maximo que es700px */
	margin: 20px auto; /*margenes top and bottom, 0 es auto, auto ambos costados*/
	font-family: ZCOOL QingKe HuangYou;
	color: #CE844A;

	}
